<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login</h3>
                            		<p>输入您的花名全拼:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="/login" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="nickname" placeholder="Nickname..." class="form-username form-control" id="name" onKeyUp="value=value.replace(/[\W]/g,'')" >
			                        </div>
{#			                        <div class="form-group">#}
{#			                        	<label class="sr-only" for="form-password">Password</label>#}
{#			                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">#}
{#			                        </div>#}
			                        <button type="submit" class="btn">登录</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>

</html>